<div id="chat"  data-chat-id="<%= @chat.id %>">
  <p>Chat ID: <%= @chat.id %></p>
  <p>Sender: <%= @sender.email %></p>
  <p>Recipient: <%= @recipient.email %></p>
  <p>删除这个联系人？<%= link_to "删除", destroy_contact_path, method: "delete" %></p>
  <hr>
  <%= render "chat/form_message" %>
  <hr>
  <%= render "chat/messages", chat: @chat %>
</div>
